[submodule "eliza"]
	path = eliza
	url = https://github.com/Dexploarer/eliza.git
	branch = develop
[submodule "eliza/cloud"]
	path = eliza/cloud
	url = https://github.com/elizaOS/cloud.git
	branch = dev
[submodule "eliza/steward-fi"]
	path = eliza/steward-fi
	url = https://github.com/Steward-Fi/steward.git
	branch = develop
